@import "bootstrap-sprockets";
@import "bootstrap";

pre {
  overflow: break-word;
  white-space: pre-wrap;
}

body {
  padding-top: 140px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}
ul{
  padding-top: 15px;
  color: #FFF;
}
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#forum {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

#forum td, #forum th {
    border: 1px solid #ddd;
    padding: 8px;
}

#forum tr:nth-child(even){background-color: #f2f2f5;}
#forum tr:nth-child(odd){background-color: #e2e2e5;}

#forum tr:hover {background-color: #ddd;}

#forum th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4C4CAF;
    color: white;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-color: #DDD;
    border-width: 1px;
}
